header, footer, #app {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #85bb65;
    padding-bottom: 30px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

#sort-by {
    svg {
        cursor: pointer;

        &.active {
            color: #85bb65 !important;
        }

        &:nth-child(2) {
            transform: scale(1, -1);
        }
    }
}