$svgDimensions: 65;
$green: #85bb65;

header {
    padding-bottom: 15px;

    h1, span {
        color: $green;
    }

    svg {
        width: $svgDimensions + px !important;
        height: $svgDimensions + px !important;
        float: left;
        fill: $green !important;
    }

    border-bottom: 2px solid $green;
}