#items-list {
    flex: 4;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #85bb65;

    @media (min-width: 768px) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
        border-right: 2px solid #85bb65;
        margin-right: 15px;
        padding-right: 15px;
    }

    .item {
        float: left;
        width: 100%;
        border-bottom: 2px solid #85bb65;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
            border: none;
        }

        .name, .price, .description {
            margin-bottom: 10px;
        }

        img {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .add-to-cart-button {
            width: 100%;

            @media (min-width: 768px) {
                width: auto;
            }
        }
    }
}