@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|IBM+Plex+Serif|Limelight");
html {
  background-color: #85bb65; }

body, p, span {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 300;
  color: #1F1F1F; }

body {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  padding: 5px;
  min-height: calc(100vh - 26px); }

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Serif", serif;
  color: #1F1F1F;
  font-size: 46px;
  margin: 0; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

p {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 300;
  color: #1F1F1F; }

.circular-progress {
  flex: 4;
  border-right: 2px solid #85bb65;
  margin-right: 15px;
  text-align: center; }

.snackbar span {
  color: #ffffff; }

header, footer, #app {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto; }

main {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #85bb65;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    main {
      flex-direction: row; } }

#sort-by svg {
  cursor: pointer; }
  #sort-by svg.active {
    color: #85bb65 !important; }
  #sort-by svg:nth-child(2) {
    transform: scale(1, -1); }

header {
  padding-bottom: 15px;
  border-bottom: 2px solid #85bb65; }
  header h1, header h2, header h3, header h4, header h5, header h6, header span {
    color: #85bb65; }
  header svg {
    width: 65px !important;
    height: 65px !important;
    float: left;
    fill: #85bb65 !important; }

#search-input {
  font-size: 25px;
  border: 2px solid #85bb65;
  padding: 5px;
  margin-bottom: 30px;
  -webkit-appearance: none; }
  #search-input:focus {
    outline: none; }

#items-list {
  flex: 4;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #85bb65; }
  @media (min-width: 768px) {
    #items-list {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      border-right: 2px solid #85bb65;
      margin-right: 15px;
      padding-right: 15px; } }
  #items-list .item {
    float: left;
    width: 100%;
    border-bottom: 2px solid #85bb65;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    #items-list .item:last-child {
      margin-bottom: 0;
      border: none; }
    #items-list .item .name, #items-list .item .price, #items-list .item .description {
      margin-bottom: 10px; }
    #items-list .item img {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px; }
    #items-list .item .add-to-cart-button {
      width: 100%; }
      @media (min-width: 768px) {
        #items-list .item .add-to-cart-button {
          width: auto; } }

#basket {
  flex: 1;
  flex-basis: 10%; }
  #basket .items {
    border-bottom: 2px solid #85bb65; }

/*# sourceMappingURL=main.css.map */
